.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  transition: background-color 0.3s ease; /* Smooth transition for bg color */
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 16px;
  padding-bottom: 16px;
  color: white;
  width: 100%;
  top: 0;
  z-index: 50;
}

.header-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.header-menu {
  display: none;
  gap: 24px;
}

@media (min-width: 768px) {
  .header-menu {
    display: flex;
  }
}

.header-menu-item {
  cursor: pointer;
}

.header-menu-item:hover {
  color: #93c5fd;
}

.header-menu-link {
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
  text-decoration: none;
}

.header-hamburger {
  display: block;
}

@media (min-width: 768px) {
  .header-hamburger {
    display: none;
  }
}

.header-hamburger-button {
  color: white;
}

.header-hamburger-button:focus {
  outline: none;
}

.header-mobile-menu {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

@media (min-width: 768px) {
  .header-mobile-menu {
    display: none;
  }
}

.header-mobile-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-mobile-menu-item {
  cursor: pointer;
}

.header-mobile-menu-item:hover {
  color: #93c5fd;
}

.header-mobile-menu-link {
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
  text-decoration: none;
}